<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.0.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName"
			value="com.microsoft.sqlserver.jdbc.SQLServerDriver" />
		<property name="url"
			value="jdbc:sqlserver://127.0.0.1:1433;databaseName=oj" />
		<property name="username" value="sa" />
		<property name="password" value="123456" />
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.SQLServerDialect
				</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="use_sql_comments">true</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>po/article/Article.hbm.xml</value>
				<value>po/article/ArticleKnowledge.hbm.xml</value>
				<value>po/student/Student.hbm.xml</value>
				<value>po/teacher/Teacher.hbm.xml</value>
				<value>po/knowledge/Knowledge.hbm.xml</value>
				<value>po/oj/OnlineJudge.hbm.xml</value>
				<value>po/oj/StuOJ.hbm.xml</value>
				<value>po/problem/Problem.hbm.xml</value>
				<value>po/problem/StuPro.hbm.xml</value>
				<value>po/test/Test.hbm.xml</value>
				<value>po/test/TestProblem.hbm.xml</value>
			</list>
		</property>
	</bean>


	<!-- 配置事物管理器 -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<!-- 定义增强处理拦截方法 -->
	<tx:advice id="txAdvice"
		transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="save" propagation="REQUIRED" />
			<tx:method name="update" propagation="REQUIRED" />
			<tx:method name="delete" propagation="REQUIRED" />
			<tx:method name="query" propagation="REQUIRED" />
			<tx:method name="*" read-only="true" />
		</tx:attributes>
	</tx:advice>

	<aop:config>
		<aop:pointcut id="allServiceMethod"
			expression="execution(* dao.*.*.*(..))" />

		<aop:advisor pointcut-ref="allServiceMethod"
			advice-ref="txAdvice" />
	</aop:config>


	<bean id="baseDAO" class="dao.BaseHibernateDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="knowledgeDAO" class="dao.knowledge.KnowledgeDAO"
		parent="baseDAO" />
	<bean id="articleDAO" class="dao.article.ArticleDAO"
		parent="baseDAO" />
	<bean id="articleknoledgeDAO"
		class="dao.article.ArticleKnoledgeDAO" parent="baseDAO" />
	<bean id="studentDAO" class="dao.student.StudentDAO"
		parent="baseDAO" />
	<bean id="teacherDAO" class="dao.teacher.TeacherDAO"
		parent="baseDAO" />
	<bean id="onlineJudgeDAO" class="dao.oj.OnlineJudgeDAO"
		parent="baseDAO" />
	<bean id="problemDAO" class="dao.problem.ProblemDAO"
		parent="baseDAO" />
	<bean id="testDAO" class="dao.test.TestDAO" parent="baseDAO" />
	<bean id="testProblemDAO" class="dao.test.TestProblemDAO"
		parent="baseDAO" />
	<bean id="stuOJDAO" class="dao.oj.StuOJDAO" parent="baseDAO" />
	<bean id="stuProDAO" class="dao.problem.StuProDAO"
		parent="baseDAO" />

	<bean class="service.article.ArticleService"
		id="articleService">
		<property ref="articleDAO" name="articleDao" />
	</bean>
	<bean scope="prototype" class="action.article.ArticleAction"
		id="articleAction">
		<property ref="articleService" name="articleService" />
	</bean>
	
	<bean class="service.problem.ProblemService" id="problemService">
		<property ref="problemDAO" name="problemDao" />
	</bean>
	<bean scope="prototype" class="action.problem.ProblemAction" id="problemAction">
		<property ref="problemService" name="problemService" />
	</bean>
	
	<bean class="service.problem.StuProService" id="stuproService">
		<property ref="stuProDAO" name="stuproDao" />
	</bean>
	<bean scope="prototype" class="action.problem.StuProAction" id="stuproAction">
		<property ref="stuproService" name="stuproservice" />
	</bean>

</beans>